* {
    margin: 0;
    border: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 15px;
}

section {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item {
    flex: 1 1 0px;
}

/*
    Work due priority styles
*/
.dangerLevelOne,
.dangerLevelTwo,
.dangerLevelThree {
    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        border: 1px solid black;
        padding: 10px;
    }
}

.dangerLevelOne {
    p {
        color: red;
    }
}

.dangerLevelTwo {
    p {
        color: orange;
    }
}

.dangerLevelThree {
    p {
        color: green;
    }
}

@media only screen and (min-width: 800px) {

    h1,
    h2 {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .container {
        flex-direction: row;
    }
}