* {
    margin: 0;
    border: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 15px;
}

section {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item {
    flex: 1 1 0px;
}

/*
    Work due priority styles
*/
.dangerLevelOne,
.dangerLevelTwo,
.dangerLevelThree {
    h2 {
        padding-bottom: 10px;
        border: 2px solid black;
    }

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 10px;
    }
}

.dangerLevelOne {
    order: 3;

    h2 {
        background-color: red;
    }

    h2:hover {
        background-color: rgb(197, 40, 40);
    }
}


.dangerLevelTwo {
    order: 2;

    h2 {
        background-color: orange;
    }
    h2:hover {
        background-color: rgb(195, 134, 21);
    }
}

.dangerLevelThree {
    order: 1;

    h2 {
        background-color: rgb(34, 201, 34);
    }
    h2:hover {
        background-color: rgb(27, 153, 27);
    }
}

.workDiv {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.workDiv:hover {
    background-color: rgb(187, 221, 224);
}

@media only screen and (min-width: 800px) {

    h1,
    h2 {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .container {
        flex-direction: row;
    }
}